<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.4">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="My Blog" content="">
    <meta name="Erica Friis" content="">
    
    <title>Friis Found</title>
    
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-zF4BRsG/fLiTGfR9QL82DrilZxrwgY/+du4p/c7J72zZj+FLYq4zY00RylP9ZjiT" crossorigin="anonymous">
    <style>img:hover {
    opacity: 0.7;
    filter: alpha(opacity=50); 
    }</style>
    


    


    <link href="/cover.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href='//fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>

    
  </head>

  <body>
<nav class="navbar-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>

        <div class="nav-text">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                <li class="active"><a href="/index.html">Home <span class="divider"></span></a></li>
                <li><a href="/about.html">About</a><span class="divider"></span></li>
                <li><a href="/design.html">Design</a><span class="divider"></span></li></li>
                <li><a href="/teaching.html">Teaching</a><span class="divider"></span></li></li>
                <li><a href="/blog.html">Blog</a><span class="divider"></span></li></li>
                <li><a href="/blog.html">Crafts</a><span class="divider"></span></li></li>
                <li><a href="/contact.html">Contact</a><span class="divider"></span></li></li>
                <li><a href="#" title="Follow Me On Facebook"><i class="fa fa-facebook-official" style="font-size:22px;color:#3b5998"></i></a></li>
                <li><a href="#" title="Follow Me On Instagram"><i class="fa fa-instagram" style="font-size:22px;color:color:#cb2027"></i></a></li>
                <li><a href="#" title="Follow Me On Pinterest"><i class="fa fa-pinterest" style="font-size:22px;color:#cb2027"></i></a></li>

                </ul>
                </li>
                </ul>
            </div>
        </div>
  </div>
</nav>
<br>
<br>
<br>

<h1>Friis Found</h1>


<br>
<br>
          